console_title_template = '{{ .Folder }}'
version = 3
final_space = true

[secondary_prompt]
template = '  '
foreground = 'magenta'
background = 'transparent'

[transient_prompt]
template = '· '
background = 'transparent'
foreground_templates = [
	'{{if gt .Code 0}}red{{end}}',
	'{{if eq .Code 0}}brightblack{{end}}',
]

[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true

[[blocks.segments]]
template = '{{ .Path }}'
foreground = 'blue'
background = 'transparent'
type = 'path'
style = 'plain'
[blocks.segments.properties]
style = 'folder'
max_depth = 3

[[blocks.segments]]
template = ' {{ .HEAD }}{{ if or (.Working.Changed) (.Staging.Changed) }} ·{{ end }}{{ if gt .Behind 0 }} ↓{{ end }}{{ if gt .Ahead 0 }} ↑{{ end }}'
foreground = 'brightblack'
background = 'transparent'
type = 'git'
style = 'plain'
[blocks.segments.properties]
branch_icon = ''
commit_icon = '@'
fetch_status = true

[[blocks]]
type = 'rprompt'
overflow = 'hidden'

[[blocks.segments]]
template = '{{ .FormattedMs }}'
foreground = 'yellow'
background = 'transparent'
type = 'executiontime'
style = 'plain'
[blocks.segments.properties]
threshold = 3000

[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true

[[blocks.segments]]
template = 'λ'
background = 'transparent'
type = 'text'
style = 'plain'
foreground_templates = [
	'{{if gt .Code 0}}red{{end}}',
	'{{if eq .Code 0}}magenta{{end}}',
]
